/* ----General Styling---------- */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    background-color: black;
}
::-webkit-scrollbar{
    display: none;
}

/* ----------Alarm Container Design----------- */
.alarmBox{
    border: 3px solid blue;
    border-radius: 2rem;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 25vw;
    margin-left: 38%;
    margin-top: 10%;
}

/* ------------Watch Face------------- */
.dateTime{
    text-align: center;
    padding: 5px 5px;
    line-height: 1.5rem;
    font-family: 'Press Start 2P', cursive;
    transition: all 0.5s;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.dateTime:hover{
    background-color: rgb(2, 192, 255);
    border-radius: 2rem;
    box-shadow: 0 0 30px #2E94E3;
}

.dtDisplay{
    background-color: rgb(2, 192, 255);
    border-radius: 2rem;
    box-shadow: 0 0 30px #2E94E3;
}

/* -----------Border-Design------------- */

.hr-1{
    margin: 1.2rem auto;
    width: 8rem;
    border: 6px solid white;
    transition: all 0.5s;
}
.hr-1:hover{
    width: 16rem;
    border-color: rgb(2, 192, 255);
    border-radius: 2rem;
    box-shadow: 0 0 10px #2E94E3;
}
.hr-2{
    margin: 0.5rem auto;
    width: 16rem;
    border: 6px solid white;
    transition: all 0.5s;
}
.hr-2:hover{
    width: 8rem;
    border-color: rgb(2, 192, 255);
    border-radius: 2rem;
    box-shadow: 0 0 10px #2E94E3;
}
.long-effect{
    width: 16rem;
    border-color: rgb(2, 192, 255);
    border-radius: 2rem;
    box-shadow: 0 0 10px #2E94E3;
}
.short-effect{
    width: 8rem;
    border-color: rgb(2, 192, 255);
    border-radius: 2rem;
    box-shadow: 0 0 10px #2E94E3;
}

/* -----------Set-Alarm------------------- */
.setAlarm{
    justify-content: center;
    display: flex;
    margin: 10px 0;
}

.setAlarm .column{
    margin: 0 5px;
}

.column select{
    background: #10101E;
    color: #fff;
    text-align: center;
    padding: 8px 4px;
    border: 1px solid #2E94E3;
    border-radius: 18px;
}

#btn-setAlarm, .btn-delete, #stopAlarm{
    padding: 5px;
    color: #fff;
    background: #2E94E3;
    border: 1px solid #2E94E3;
    border-radius: 18px;
}
#stopAlarm{
    visibility: hidden;
    width: 100px;
    margin: 2% 34%;
}

.btn-delete{
    margin-left: 50px;
}

#btn-setAlarm:hover, .btn-delete:hover, #stopAlarm:hover{
    cursor: pointer;
    background: #2E94E3;
    box-shadow: 0 0 30px #2E94E3;
}

/* --------Alarm List------------- */

h3{
    color: #fff;
    font-family: "Segoe UI", sans-serif;
    font-size: 20px;
    font-weight: 900;
    text-align: center;
    margin-bottom: 3%;
    visibility: hidden;
}

.alarmList{
    color: #fff;
    margin: 14px auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.alarmLog{
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 6px auto;
}

